*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.alert-danger, .alert-success {
	max-width: 700px;
	text-align: center;
	margin: 30px auto;
}

.clear{
	clear: both;
}

.logo-oldbikes{
	height: 100px;
	width: 120px;
}

header{
	background-color: #fffb00;
}


.logout{
	margin: 0 10px;
}

header li{
	padding: 0 15px;
}

.banner-bike{
	max-width: 100%;
	padding:50px 0 100px 0;
	min-height: 800px;
	background-image: url('../imagens/sobre-bike.png');
	background-size: cover;
	background-size: 100% 100%;
}

.great-vibes {
	font-family: 'Great Vibes', cursive;
	font-size: 80px;
}

.great-vibes-40 {
	font-family: 'Great Vibes', cursive;
	font-size: 60px;
}

a.nav-link{
	font-size: 18px;
}

.w60{
	max-width: 60%;
}

.botao-banner{
	width: 80%;
	margin : 0 auto;
}

.banner-bike h1{
	margin-top: 60px;
	font-size: 55px;
}

.destaque-semanal{
	padding-bottom: 20px;
}

.card {
	margin: 6px;
	background-color: #eeeeee;
	height: 450px;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template/simple-sidebar)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  z-index: 99;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.search1{
	width: 300px;
}

.search1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.search1 .barra-preco{
	width: 70%;
	height: 20px;
	background: white;
	border:1px solid #ccc;
	margin-top:8px;
	border-radius: 20px;
	position: relative;
}

.barra-preco-fill{
	position: absolute;
	left: 0;
	top: 0;
	width: 30%;
	height: 20px;
	border-radius: 20px;
	background: rgb(200,200,200);
}

.pointer-barra{
	width: 26px;
	height: 26px;
	position: absolute;
	left: calc(30% - 13px);
	top: -3px;
	cursor: pointer;
	border-radius: 8px;
	background: rgb(210,210,210);
	border:1px solid black;
}

.valor-pesquisa{
	margin-top:8px;
}

.valor-pesquisa p{
	color: black;
	font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1){
	float: left;
}

.valor-pesquisa p:nth-of-type(2){
	float: left;
	margin-left: 100px;
}

.search2{
	margin-top:40px;
}

.search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}

.form-venda-wraper{
	margin-top:10px;
}

.form-venda-wraper input[type=checkbox]{
	display: none;
}

.form-venda-wraper label{
	width: 20px;
	height: 20px;
	display: inline-block;
	border:1px solid #ccc;
	border-radius: 3px;
	vertical-align: top;
	cursor: pointer;
}

.form-venda-wraper span{
	padding:0 10px;
	display: inline-block;
	vertical-align: top;
}



@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}


section.destaque-semanal .container{
	max-width: 1400px;
}


section.banner-sobre{
	width: 100%;
	background-color: rgb(187, 187, 187);
	padding: 50px;
}

section.banner-img-sobre{
	background-image: url('../imagens/wlp-sobre.jpeg');
	background-position: bottom;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 1;
}

.b-preto{
	background-color:rgba(0,0,0,0.7);
	width: 100%;
	z-index: 999;
	padding: 125px;
}

section.passo-a-passo{
	width: 100%;
}

.passo1{
	background-color: #FFDA82;
	width: 100%;
	height: 400px;
}

.exemplo{
	background-color: white;
	height: 350px;
	width: 350px;
	border-radius: 200px;
	top: 25px;
	position: relative;
}

.exemplo-texto{
	position: relative;
	top: 100px;
	left: 50px;
}

.passo2{
	background-color: #FBF5AC;
	width: 100%;
	height: 300px;
}

.passo3{
	background-color: #C54949;
	width: 100%;
	height: 400px;
}

.circle-group{
	margin: 45px 0;
	border-bottom: 1px solid black;
	padding-bottom: 50px;
}

section.pagina-login{
	background-image: url('../imagens/wlp-login.jpeg');
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.form{
	background-color: rgba(0,0,0,0.7);
	z-index: 999;
	width: 100%;
	padding: 90px;
}

.pagina-login form{
	margin: 0 auto;
	text-align: center;
	max-width: 400px;
}

form p{
	margin-top: 35px;
}

/* Começo slide de venda individual */

main{
	background-color: #cfcfc4;
}

.fotos{
	width: 100%;
	background-color: #cfcfc4;
}


main .container {
	-webkit-box-shadow: 2px 3px 15px -2px #000000; 
	box-shadow: 2px 3px 15px -2px #000000;
	z-index: 99;
	top: -25px;
	position: relative;
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	min-height: 400px;
	max-height: 600px;
}

.container .descricao{
	padding: 20px;
}

.descricao h1,h2,h3{
	padding: 10px;
}
